<!doctype html>
<html>
<head>
<!--
    <meta charset="utf-8">
    <link rel="stylesheet" href="background.css"type="text/css" >
-->
<%- mycss.style %>
</head>
<!--  
<script language='javascript'></script>
-->
<body>

    <div class="top">
        <div class="top_name">
            <h1 id="welcome">Welcome <%= userName %>!</h1>
        </div>
        <div class="img_smile">
            <img src="smile.png" width="100" height="100">  
        </div>
        <div class="top_con">
            <h1><%= concent_part %></h1>
        </div>

        <div class="img_angry">
            <img src="sad.png" width="100" height="100">
        </div>
        <div class="top_weak">
            <h1><%= weak_part %></h1>
        </div>
    </div>
    <div class="left">
        <h1>Your Goal</h1>
        <table class="tb">
            <thead>
                <tr>
                    <th scope="cols"></th>
                    <th scope="cols">Weight (Kg)</th>
                    <th scope="cols">Muscle (%)</th>
                    <th scope="cols">Body Fat (%)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Start</th>
                    <td><%= init_weight %></td>
                    <td><%= init_muscle %></td>
                    <td><%= init_fat %></td>
                </tr>
                <tr>
                    <th scope="row">Current</th>
                    <td><%= now_weight %></td>
                    <td><%= now_muscle %></td>
                    <td><%= now_fat %></td>
                </tr>
                <tr>
                    <th scope="row">Goal</th>
                    <td><%= goal_weight %></td>
                    <td><%= goal_muscle %></td>
                    <td><%= goal_fat %></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="right">
        <h1>Start Workout</h1>
        <h1>Take a Picture</h1>
        <h1>My Data</h1>
    </div>

<div >
<p id="tt">innerHtml</p>
</div>

<script src="/socket.io/socket.io.js"></script>
<script>

	var host = 'http://' + '<%=myaddr%>';
	document.getElementById("tt").innerHTML = host;
	//document.getElementById("tt").innerHTML = typeof(host);	// string
	//var host = 'http://192.168.0.102:8118';

	var socket = io();

	var where = '';

	socket.on('recog', function(msg){
		where = msg;
		if (msg == 'MYDATA'){
			where = 'data';
		}
		socket.emit('replace', 'to /' + where);

/*
		if (msg == 'WORKOUT'){
			location.replace(host + '/routine');
		}
		else if (msg == 'TAKEPIC')
			location.replace(host + '/takepic');
		else if (msg == 'MYDATA'){
			socket.emit('replace', 'to /routine');
			socket.disconnect();

			location.replace(host + '/data');
		}
		else
			document.getElementById("tt").innerHTML = "order using your voice";
*/
	});

	socket.on('disconnect', function(msg){
		location.replace(host + '/' +  where);	
	});


</script>


</body>
</html>
