<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="background.css"type="text/css" >

<%- mycss.style %>
</head>
  
<script language='javascript'></script>

<body>

<script src="/socket.io/socket.io.js"></script>
<script>
	document.getElementById("welcome").innerHTML = "HI";
	document.getElementById("tt").innerHTML = "bbbbbbbbbbbbbbbbbI";

	//var host = require('externals.js').myaddr;
	var host = 'http://192.168.0.102:8118';
	var socket = io();

	//socket.emit('main', 'msg from main.ejs');


	socket.on('recog', function(msg){
		if (msg == 'WORKOUT')
			location.replace(host + '/workout');
		if (msg == 'TAKEPIC')
			location.replace(host + '/takepic');
		if (msg == 'MYDATA')
			location.replace(host + '/mydata');
	}
</script>

    <div class="top">
	<p id="tt">TTTTTTTTTTTTTTTT</p>
        <div class="top_name">
            <h1 id="welcome">Welcome <%= userName %>!</h1>
        </div>
        <div class="img_smile">
            <img src="smile.png" width="100" height="100">  
        </div>
        <div class="top_con">
            <h1><%= concent_part %></h1>
        </div>

        <div class="img_angry">
            <img src="sad.png" width="100" height="100">
        </div>
        <div class="top_weak">
            <h1><%= weak_part %></h1>
        </div>
    </div>
    <div class="left">
        <h1>Your Goal</h1>
        <table class="tb">
            <thead>
                <tr>
                    <th scope="cols"></th>
                    <th scope="cols">Weight (Kg)</th>
                    <th scope="cols">Muscle (%)</th>
                    <th scope="cols">Body Fat (%)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Start</th>
                    <td><%= init_weight %></td>
                    <td><%= init_muscle %></td>
                    <td><%= init_fat %></td>
                </tr>
                <tr>
                    <th scope="row">Current</th>
                    <td><%= now_weight %></td>
                    <td><%= now_muscle %></td>
                    <td><%= now_fat %></td>
                </tr>
                <tr>
                    <th scope="row">Goal</th>
                    <td><%= goal_weight %></td>
                    <td><%= goal_muscle %></td>
                    <td><%= goal_fat %></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="right">
        <h1>Start Workout</h1>
        <h1>Take a Picture</h1>
        <h1>My Data</h1>
    </div>

</body>
</html>
