<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="mydata.css">
    <%- mycss3.style %>
</head>   
<body>
    <div class='top'>
      <h1>Today's Routine List</h1>
    </div>
  
    <div class='routinesection'>
        <table class="tb">
            <thead>
              <tr>
                  <th scope="cols">Oder</th>
                  <th scope="cols">Name</th>
                  <th scope="cols">Position</th>
              </tr>
          </thead>
            <tbody>
                <tr>
                    <th scope="row">1.</th>
                    <th scope="row"><%= EXER_INFO[0].exerName %></th>
                    <th scope="row"><%= EXER_INFO[0].relatedPart %></th>
                    
                </tr>
                <tr>
                    <th scope="row">2.</th>
                    <th scope="row"><%= EXER_INFO[1].exerName %></th>
                    <th scope="row"><%= EXER_INFO[1].relatedPart %></th>
                </tr>

            </tbody>
        </table>
    </div>
  </body>

<script src="/socket.io/socket.io.js"></script>
<script>
	var host = 'http://' + '<%=myaddr%>';
	var socket = io();
	var where = '';
	socket.on('recog', function(msg){
		if (msg == 'WORKOUT'){
			where = '/workout1';
			socket.emit('replace', 'to ' + where);
		}
	});
	socket.on('disconnect', function(msg){
		location.replace(host + where);
	});

</script>

</html>
